<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCERJ-Ns4bwnN6PIyDJPJVHiGxnzzG5SDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>566465277488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.movie.IMDUMB</string>
	<key>PROJECT_ID</key>
	<string>imdumb-app</string>
	<key>STORAGE_BUCKET</key>
	<string>imdumb-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566465277488:ios:c919e34e5594654b7b87f5</string>
</dict>
</plist>